.insert-class{
position: absolute;
left: 600px;
}
.made_by{
position: absolute;
left: 600px;
top:150px;
font-size:22px;

}

.worning-msg{
    position: absolute;
    top: 80px;
    left: 558px;
    font-size: 20px;
    background-color:rgba(255, 0, 0, 0.67);
}